In [7]:
import pandas as pd

In [8]:
#Importing Diversity Index Dataset 
diversity_index = "Resources/us_diversity_index.csv"
diversity_index_df = pd.read_csv(diversity_index)
diversity_index_df.head()

,Location,Diversity-Index,"Black or African American alone, percent, 2013","American Indian and Alaska Native alone, percent, 2013","Asian alone, percent, 2013","Native Hawaiian and Other Pacific Islander alone, percent,","Two or More Races, percent, 2013","Hispanic or Latino, percent, 2013","White alone, not Hispanic or Latino, percent, 2013"
0,"Aleutians West Census Area, AK",0.769346,7.4,13.8,31.1,2.3,4.8,14.6,29.2
1,"Queens County, NY",0.742224,20.9,1.3,25.2,0.2,2.7,28.0,26.7
2,"Maui County, HI",0.740757,0.8,0.6,28.8,10.6,23.3,10.7,31.5
3,"Alameda County, CA",0.740399,12.4,1.2,28.2,1.0,5.2,22.7,33.2
4,"Aleutians East Borough, AK",0.738867,7.7,21.8,41.4,0.7,3.7,13.5,12.9

In [9]:
#Spliting location in to County and State in the diversity dataset 
split_diversity_df = diversity_index_df
split_diversity_df['County'], split_diversity_df['State'] = diversity_index_df['Location'].str.rsplit(', ').str
#Showing results of the split 
split_diversity_df.head()

<ipython-input-9-9d9e58f939e1>:3: FutureWarning: Columnar iteration over characters will be deprecated in future releases.
  split_diversity_df['County'], split_diversity_df['State'] = diversity_index_df['Location'].str.rsplit(', ').str

,Location,Diversity-Index,"Black or African American alone, percent, 2013","American Indian and Alaska Native alone, percent, 2013","Asian alone, percent, 2013","Native Hawaiian and Other Pacific Islander alone, percent,","Two or More Races, percent, 2013","Hispanic or Latino, percent, 2013","White alone, not Hispanic or Latino, percent, 2013",County,State
0,"Aleutians West Census Area, AK",0.769346,7.4,13.8,31.1,2.3,4.8,14.6,29.2,Aleutians West Census Area,AK
1,"Queens County, NY",0.742224,20.9,1.3,25.2,0.2,2.7,28.0,26.7,Queens County,NY
2,"Maui County, HI",0.740757,0.8,0.6,28.8,10.6,23.3,10.7,31.5,Maui County,HI
3,"Alameda County, CA",0.740399,12.4,1.2,28.2,1.0,5.2,22.7,33.2,Alameda County,CA
4,"Aleutians East Borough, AK",0.738867,7.7,21.8,41.4,0.7,3.7,13.5,12.9,Aleutians East Borough,AK

In [10]:
#Grouping each race by "State" & "US County" and calculating the mean 

group_diversity_df = pd.DataFrame({"Diversity-Index":split_diversity_df.groupby(["State","County"])["Diversity-Index"].mean(),
                       "Black":split_diversity_df.groupby(["State","County"])["Black or African American alone, percent, 2013"].mean(),
                       "American Indian":split_diversity_df.groupby(["State","County"])["American Indian and Alaska Native alone, percent, 2013"].mean(),
                       "Asian":split_diversity_df.groupby(["State","County"])["Asian alone, percent, 2013"].mean(),
                       "Native Hawaiian":split_diversity_df.groupby(["State","County"])["Native Hawaiian and Other Pacific Islander alone, percent,"].mean(),
                       "Two or More Races":split_diversity_df.groupby(["State","County"])["Two or More Races, percent, 2013"].mean(),
                       "Hispanic/ Latino":split_diversity_df.groupby(["State","County"])["Hispanic or Latino, percent, 2013"].mean(),
                       "White":split_diversity_df.groupby(["State","County"])["White alone, not Hispanic or Latino, percent, 2013"].mean()})

In [11]:
#Showing the new dataframe that groups columns by "states" and "counties"
group_diversity_df.head()

                                  Diversity-Index  Black  American Indian  \
State County
AK    Aleutians East Borough             0.738867    7.7             21.8
      Aleutians West Census Area         0.769346    7.4             13.8
      Anchorage Municipality             0.601515    6.3              8.1
      Bethel Census Area                 0.315556    0.7             81.8
      Bristol Bay Borough                0.648271    0.0             33.8

                                  Asian  Native Hawaiian  Two or More Races  \
State County
AK    Aleutians East Borough       41.4              0.7                3.7
      Aleutians West Census Area   31.1              2.3                4.8
      Anchorage Municipality        8.9              2.3                7.8
      Bethel Census Area            1.0              0.3                4.1
      Bristol Bay Borough           1.1              0.3               17.5

                                  Hispanic/ Latino  White
State County
AK    Aleutians East Borough                  13.5   12.9
      Aleutians West Census Area              14.6   29.2
      Anchorage Municipality                   8.6   60.5
      Bethel Census Area                       1.6   11.5
      Bristol Bay Borough                      3.9   45.3

In [12]:
#Importing Unemployment Rate Dataset
us_unemployment_df = pd.read_csv('Resources/us_enemployment_state_county.csv')
us_unemployment_df.head()

   Year     Month        State         County  Rate
0  2015  February  Mississippi  Newton County   6.1
1  2015  February  Mississippi  Panola County   9.4
2  2015  February  Mississippi  Monroe County   7.9
3  2015  February  Mississippi   Hinds County   6.1
4  2015  February  Mississippi  Kemper County  10.6

In [13]:
#Dropping "Year" and "Month" columns as we don't need it and only selecting "State", "County" & "Rate"
us_unemployment_df = us_unemployment_df[["County", "State", "Rate"]].copy()
us_unemployment_df.head()

          County        State  Rate
0  Newton County  Mississippi   6.1
1  Panola County  Mississippi   9.4
2  Monroe County  Mississippi   7.9
3   Hinds County  Mississippi   6.1
4  Kemper County  Mississippi  10.6

In [14]:
#Creating abbreviations for "States" as the states are written in full 
abbreviate_us_states = {
   'Alabama': 'AL',
   'Alaska': 'AK',
   'Arizona': 'AZ',
   'Arkansas': 'AR',
   'California': 'CA',
   'Colorado': 'CO',
   'Connecticut': 'CT',
   'Delaware': 'DE',
   'Florida': 'FL',
   'Georgia': 'GA',
   'Hawaii': 'HI',
   'Idaho': 'ID',
   'Illinois': 'IL',
   'Indiana': 'IN',
   'Iowa': 'IA',
   'Kansas': 'KS',
   'Kentucky': 'KY',
   'Louisiana': 'LA',
   'Maine': 'ME',
   'Maryland': 'MD',
   'Massachusetts': 'MA',
   'Michigan': 'MI',
   'Minnesota': 'MN',
   'Mississippi': 'MS',
   'Missouri': 'MO',
   'Montana': 'MT',
   'Nebraska': 'NE',
   'Nevada': 'NV',
   'New Hampshire': 'NH',
   'New Jersey': 'NJ',
   'New Mexico': 'NM',
   'New York': 'NY',
   'North Carolina': 'NC',
   'North Dakota': 'ND',
   'Ohio': 'OH',
   'Oklahoma': 'OK',
   'Oregon': 'OR',
   'Pennsylvania': 'PA',
   'Rhode Island': 'RI',
   'South Carolina': 'SC',
   'South Dakota': 'SD',
   'Tennessee': 'TN',
   'Texas': 'TX',
   'Utah': 'UT',
   'Vermont': 'VT',
   'Virginia': 'VA',
   'Washington': 'WA',
   'West Virginia': 'WV',
   'Wisconsin': 'WI',
   'Wyoming': 'WY',
}

In [15]:
#Changing full states name to abbreviated state names in the dataframe 
abbrev_unemploy_df = us_unemployment_df
for key, value in abbreviate_us_states.items():
    abbrev_unemploy_df.loc[abbrev_unemploy_df['State']==key, 'State'] = value
abbrev_unemploy_df.head()

          County State  Rate
0  Newton County    MS   6.1
1  Panola County    MS   9.4
2  Monroe County    MS   7.9
3   Hinds County    MS   6.1
4  Kemper County    MS  10.6

In [16]:
#Grouping the dataframe by state and changing "Rate" column name to "Unemployment Rate" and calculating the mean 
group_unemploy_df = pd.DataFrame({"Unemployment Rate":abbrev_unemploy_df.groupby(["State","County"])["Rate"].mean()})
group_unemploy_df.head(20)

                        Unemployment Rate
State County
AL    Autauga County             5.417284
      Baldwin County             5.364198
      Barbour County             8.460185
      Bibb County                7.684877
      Blount County              5.164506
      Bullock County            11.433951
      Butler County              9.816049
      Calhoun County             6.962037
      Chambers County            7.932099
      Cherokee County            6.198457
      Chilton County             6.320370
      Choctaw County            10.123148
      Clarke County             10.695679
      Clay County                7.364198
      Cleburne County            5.903086
      Coffee County              5.711111
      Colbert County             7.711111
      Conecuh County            10.173457
      Coosa County               7.416975
      Covington County           7.412346

In [17]:
#Importing Median Income Dataset
us_median_income = pd.read_csv('Resources/us_states_counties_median_income.csv')
us_median_income.head()

,County-State,County,Population,Median household income,State Code,State
0,"Autauga County, Alabama",Autauga County,55221,51281.0,AL,Alabama
1,"Baldwin County, Alabama",Baldwin County,195121,50254.0,AL,Alabama
2,"Barbour County, Alabama",Barbour County,26932,32964.0,AL,Alabama
3,"Bibb County, Alabama",Bibb County,22604,38678.0,AL,Alabama
4,"Blount County, Alabama",Blount County,57710,45813.0,AL,Alabama

In [18]:
#Selecting usable columns only and renaming "State Code" to "State"
us_median_income = us_median_income[['County',"State Code", 'Population',"Median household income"]]
us_median_income = us_median_income.rename(columns={"State Code": "State"})
us_median_income.head()

           County State  Population  Median household income
0  Autauga County    AL       55221                  51281.0
1  Baldwin County    AL      195121                  50254.0
2  Barbour County    AL       26932                  32964.0
3     Bibb County    AL       22604                  38678.0
4   Blount County    AL       57710                  45813.0

In [19]:
#grouping the median income by state and calculating the mean 
group_us_median_income = pd.DataFrame({"Median household income":us_median_income.groupby(["State","County"])["Median household income"].mean(),
                              "Population":us_median_income.groupby(["State","County"])["Population"].sum()})
group_us_median_income.head()

                                  Median household income  Population
State County
AK    Aleutians East Borough                      61518.0        3304
      Aleutians West Census Area                  84306.0        5684
      Anchorage Municipality                      78326.0      299107
      Bethel Census Area                          51012.0       17776
      Bristol Bay Borough                         79750.0         970

In [20]:
#Merging tables
#Merging unemployment rate with median income table 
unemploy_medianinc_merged = pd.merge(group_unemploy_df,group_us_median_income, on=["State",'County'],how="inner")
unemploy_medianinc_merged.head()

                      Unemployment Rate  Median household income  Population
State County
AL    Autauga County           5.417284                  51281.0       55221
      Baldwin County           5.364198                  50254.0      195121
      Barbour County           8.460185                  32964.0       26932
      Bibb County              7.684877                  38678.0       22604
      Blount County            5.164506                  45813.0       57710

In [21]:
#Merging unemployment rate, median income and diversity index tables 
unemploy_medianinc_diversity_merge = pd.merge(unemploy_medianinc_merged,group_diversity_df, on=["State",'County'],how="inner")
unemploy_medianinc_diversity_merge.head()

                      Unemployment Rate  Median household income  Population  \
State County
AL    Autauga County           5.417284                  51281.0       55221
      Baldwin County           5.364198                  50254.0      195121
      Barbour County           8.460185                  32964.0       26932
      Bibb County              7.684877                  38678.0       22604
      Blount County            5.164506                  45813.0       57710

                      Diversity-Index  Black  American Indian  Asian  \
State County
AL    Autauga County         0.388898   18.4              0.5    1.1
      Baldwin County         0.297942    9.5              0.7    0.9
      Barbour County         0.556605   47.6              0.6    0.5
      Bibb County            0.394100   22.1              0.4    0.2
      Blount County          0.221056    1.8              0.6    0.3

                      Native Hawaiian  Two or More Races  Hispanic/ Latino  \
State County
AL    Autauga County              0.1                1.7               2.7
      Baldwin County              0.1                1.5               4.6
      Barbour County              0.2                0.9               4.8
      Bibb County                 0.1                0.9               2.1
      Blount County               0.1                1.1               8.7

                      White
State County
AL    Autauga County   75.9
      Baldwin County   83.1
      Barbour County   46.3
      Bibb County      74.6
      Blount County    87.8

In [22]:
#Restoring State and county back to columns from the group format 
merged_final = unemploy_medianinc_diversity_merge.reset_index()
merged_final.head()

,State,County,Unemployment Rate,Median household income,Population,Diversity-Index,Black,American Indian,Asian,Native Hawaiian,Two or More Races,Hispanic/ Latino,White
0,AL,Autauga County,5.417284,51281.0,55221,0.388898,18.4,0.5,1.1,0.1,1.7,2.7,75.9
1,AL,Baldwin County,5.364198,50254.0,195121,0.297942,9.5,0.7,0.9,0.1,1.5,4.6,83.1
2,AL,Barbour County,8.460185,32964.0,26932,0.556605,47.6,0.6,0.5,0.2,0.9,4.8,46.3
3,AL,Bibb County,7.684877,38678.0,22604,0.394100,22.1,0.4,0.2,0.1,0.9,2.1,74.6
4,AL,Blount County,5.164506,45813.0,57710,0.221056,1.8,0.6,0.3,0.1,1.1,8.7,87.8

In [125]:
#Exporting to SQL